VITE_SUPABASE_URL=https://lnyfkiujwiczfpgfdylm.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_gZvd8R3Sx1kaSII_UhrpBw_cfjPCdsV
VITE_SUPABASE_ANON_KEY=your-supabase-anon-key
VITE_APP_URL=http://localhost:5173
VITE_BACKEND_URL=http://127.0.0.1:8000